@{
  Layout = "_Layout";
}

@model AppUser

<div class="container">
  @using(Html.BeginForm("Login", "Account")){
  @Html.LabelFor(m => m.Email);
  @Html.TextBoxFor(m => m.Email);
  @Html.LabelFor(m => m.Password);
  @Html.PasswordFor(m => m.Password);
  <input type="submit" value="submit"/>
  }
</div>




@* <form action="/Account/Login" method="post">
  <label for="email">Email</label>
  <input id="email" name="email" type="text">
  <label for="password">Password</label>
  <input id="password" name="password" type="text">
  <button type="submit">Go!</button>
</form> *@