@{
  Layout = "_Layout";
}

@model AppUser

<div class="container d-flex justify-content-center">
@using(Html.BeginForm("Login", "Account")){
<div> 
  @Html.LabelFor(m => m.Email, new { @class = "navStyle mr-2"});
  @Html.TextBoxFor(m => m.Email);
</div> 
<div>
  @Html.LabelFor(m => m.Password, new { @class = "navStyle mr-2"});
  @Html.PasswordFor(m => m.Password);
</div>
<input class="xBtn" type="submit" value="submit"/>
}
</div>

