
@{
  Layout = "_Layout";
}

<div class="container d-flex justify-content-center">
  <div>
    <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class="xBtn justify-content-"})</p>
    <p class="navStyle">You have successfully registered! :D</p>
  </div>
</div>