<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SLAG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/bgStyles.css">
  </head>
  <body>
    <div id="bgColor">
      @await Html.PartialAsync("Header")
      @RenderBody()
      @await Html.PartialAsync("Footer")
    </div>
  </body>
</html>
