@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Wet+Paint&display=swap');
@font-face {
  font-family: Automania;
  src: url("../font/AUTOMANI.TTF");
}
@font-face {
  font-family: PhillySans;
  src: url('../font/PhillySans.otf');
}
@font-face {
  font-family: AxiMosi;
  src: url('../font/aAksiMosi.otf');
}
@font-face {
  font-family: COD;
  src: url('../font/Call\ of\ Ops\ Duty.otf');
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
  }
}

html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #5b7142;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(6, 46, 46);
  padding:8px;
  text-align: center;
}

/* ANIMATION */
.playerAnimationTeam1 {
  animation-duration: 2s;
  animation:slideright 5s ,leanright 10s; 
}

.playerAnimationTeam2 {
  animation-duration: 2s;
  animation: slideleft 5s, leanleft 10s; 
}

@keyframes leanright {
  0% { transform: rotateZ(-10deg);}
  5% { transform: rotateZ(-20deg);}
  10% { transform: rotateZ(-30deg);}
  15% { transform: rotateZ(-40deg);}
  20% { transform: rotateZ(-50deg);}
  21% { transform: rotateZ(-40deg);}
  22% { transform: rotateZ(-30deg);}
  23% { transform: rotateZ(-20deg);}
  24% { transform: rotateZ(-10deg);}
  25% { transform: rotateZ(20deg);}
}

@keyframes slideright {
  0%   { left:0px; top:0px;}
  10%  { left:200px; top:0px;}
}

@keyframes leanleft {
  0% { transform: rotateZ(10deg);}
  5% { transform: rotateZ(20deg);}
  10% { transform: rotateZ(30deg);}
  15% { transform: rotateZ(40deg);}
  20% { transform: rotateZ(50deg);}
  21% { transform: rotateZ(40deg);}
  22% { transform: rotateZ(30deg);}
  23% { transform: rotateZ(20deg);}
  24% { transform: rotateZ(10deg);}
  25% { transform: rotateZ(-20deg);}
}

@keyframes slideleft {
  0%   { left:200px; top:0px;}
  10%  { left:0px; top:0px;}
}

<<<<<<< HEAD
.playerWinAnimationTeam1 {
  animation-duration: 2s;
  animation: winner 2s;
}


.playerWinAnimationTeam2 {
  animation-duration: 2s;
  animation: winner 2s;
}

=======
>>>>>>> fb0ed197e5d3a07a470e9f1c33cd6881b0d864e8
@keyframes winner {
  0%  { top:0px; transform: rotateZ(-108deg);}
  10% { top:0px; transform: rotateZ(-216deg);}
  20% { top:0px; transform: rotateZ(-324deg);}
  30% { top:0px; transform: rotateZ(-432deg);}
  40% { top:0px; transform: rotateZ(-540deg);}
  50% { top:0px; transform: rotateZ(-648deg);}
  60% { top:0px; transform: rotateZ(-756deg);}
  70% { top:0px; transform: rotateZ(-864deg);}
  80% { top:0px; transform: rotateZ(-972deg);}
  90% { top:0px; transform: rotateZ(-1080deg);}
  100% { top:0px; transform: rotateZ(-1188deg);}
} 

#header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
/* Play View */
.gameScreen{
  background-image: url(../img/slagBackground2.png);
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: 1000px;
  position: absolute;
  width: 1200px;
  max-width: 1000px;
  height: 900px;
  top: 40px;
  margin: 50px auto;
}
/* Fonts */
.styledHeader{
  font-family: PhillySans;
  position: absolute;
  z-index: 1;
  font-size: 10em;
  color: #FF57BE;
  outline-color: #57FF98;
  text-shadow: 15px 15px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.teamName {
  font-family: PhillySans;
  text-align: center;
  font-size: 50pt;
  color: #FF57BE;
  outline-color: #57FF98;
  text-shadow: 15px 15px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.teamName a {
  color: inherit;
  text-decoration: none;
}

.teamName:hover {
  color:#BEFF57;
  outline-color: #FF57BE;
  text-shadow: 1px 1px #FF57BE,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.teamName2 {
  font-family: PhillySans;
  font-size: 50pt;
  color: #FF57BE;
  outline-color: #57FF98;
  width: fit-content;
  text-shadow: 15px 15px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.teamName2 a {
  color: inherit;
  text-decoration: none;
}

.teamName2:hover {
  color:#BEFF57;
  outline-color: #FF57BE;
  text-shadow: 1px 1px #FF57BE,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.kd {
  font-family: COD;
  font-size: 20px;
  text-align: center;
}

.navStyle {
  font-family: PhillySans;
  font-size: 20pt;
  color: #FF57BE;
  outline-color: #57FF98;
  text-shadow: 1px 1px #57FF98,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navStyle:hover {
  color:#BEFF57;
  outline-color: #FF57BE;
  text-shadow: 1px 1px #FF57BE,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logoutStyle {
  font-family: PhillySans;
  font-size: 20pt;
  color: #57FF98;
  outline-color: #FF57BE;
  text-shadow: 1px 1px #FF57BE,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logoutStyle:hover {
  color:#FF57BE;
  outline-color: #BEFF57;
  text-shadow: 1px 1px #BEFF57,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.outcome {
  font-family: PhillySans;
  font-size: 4rem;
  z-index: 3;
  top: 0px;
  color: #FF57BE;
  text-shadow:
    3px 3px 0 #11e6df,
    -1px -1px 0 #11e6df,  
    1px -1px 0 #11e6df,
    -1px 1px 0 #11e6df,
    1px 1px 0 #11e6df;
}

.outcome2 {
  font-family: PhillySans;
  font-size: 4rem;
  z-index: 3;
  
  color: #FF57BE;
  text-shadow:
    3px 3px 0 #11e6df,
    -1px -1px 0 #11e6df,  
    1px -1px 0 #11e6df,
    -1px 1px 0 #11e6df,
    1px 1px 0 #11e6df;
}

.pageTitle {
  font-family: AxiMosi;
  z-index: 2;
  font-size: 60pt;
  margin-top: 300px;
  color: #57FF98;
  text-shadow:
    3px 3px 0 #FF57BE,
    -1px -1px 0 #FF57BE,  
    1px -1px 0 #FF57BE,
    -1px 1px 0 #FF57BE,
    1px 1px 0 #FF57BE;
}

.pageTitle2 {
  font-family: AxiMosi;
  z-index: 2;
  font-size: 60pt;
  margin-top: 200px;
  color: #57FF98;
  text-shadow:
    3px 3px 0 #FF57BE,
    -1px -1px 0 #FF57BE,  
    1px -1px 0 #FF57BE,
    -1px 1px 0 #FF57BE,
    1px 1px 0 #FF57BE;
}

.aBtn {
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

/* HOME INDEX */

#loginBtn {
  background-color: #777777;
  color: #c0c0c0;
  box-shadow: 2px 5px #444444;
}

.homeBtn {
  color: #F3F9F9;
}

/* ANIMAL INDEX */

.aCard {
  width: 320px;
  height: 446px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ebebeb;
  background-color: #4b2414;
  border-radius: 5px;
  margin: 10px;
}

.animalDetails {
  width: 600px;
  height: 800px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ebebeb;
  height: auto;
  background-color: #4b2414;
  border-radius: 5px;
  margin: 10px;
}

.animalDetails img {
  display: block;
  margin: 0px auto;
  height: auto;
  max-width: 80%;
  border-radius: 5px;
  background-color: #919191;
  box-shadow: 3px 1px 6px #291010;
}

.aCard img {
  display: block;
  margin: 0px auto;
  width: 95%;
  border-radius: 5px;
  background-color: #919191;
  box-shadow: 3px 1px 6px #291010;
}

.aCardSmall {
  width: 267px;
  height: 371px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ebebeb;
  background-color: #4b2414;
  border-radius: 5px;
  margin: 10px;
}

.cardName {
  margin-left: 10px;
  color: #ebebeb;
}

.cardHp {
  float: right;
  margin-right: 10px;
}
/* Team Index */
.tCard {
  margin: 20px;
  padding: 10px;
}

.teamTitle {
  font-family: 'Rubik Burned', cursive;
  margin-top: 20px;
  text-align: center;
  color: #ade611;
  font-size: 90px;
}

.taCard {
  margin: 10px;
  padding: 10px;
}

img.taCardImg {
  width: 50%;
  display: block;
  margin: 0px auto;
}

.tBtn {
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 15pt;
  background-color: #57FF98;
  color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: auto;
  height: 20px;
}

.bBtn {
  background-color: #FF57BE;
  font-family: 'Rubik Wet Paint', cursive;
  color: #4c5249;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  width: auto;
  height: 20px;
}

.saveBtn {
  background-color: #FF57BE;
  font-family: 'Rubik Wet Paint', cursive;
  color: #4c5249;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  width: 110px;
  height: 110px;
}

.zBtn {
  background-color: #FF57BE;
  float: right;
  font-family: 'Rubik Wet Paint', cursive;
  color: #4c5249;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  /* width: auto;
  height: 20px; */
}

.zBtn:hover {
  background-color: #57FF98;
  color: #0059ff;
  border-color: #0059ff;
}

.xBtn {
  float: right;
  background-color: #57FF98;
  font-family: 'Rubik Wet Paint', cursive;
  color: #4c5249;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  /* width: auto;
  height: 20px; */
}

.xBtn:hover {
  background-color: #7057ff;
  color: #ffffff;
  border-color: #ffffff;
}

.cBtn {
  background-color: #57FF98;
  font-family: 'Rubik Wet Paint', cursive;
  color: #4c5249;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px; 
}

.cBtn:hover {
  background-color: #7057ff;
  color: #ffffff;
  border-color: #ffffff;
}

.createBtn {
  text-align: center;
}

/* Team HUD */
.team1Bg{
  background-color: #FF57BE;
  margin-left: 100px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
}
.battleteam1{
  font-family: AxiMosi;
  font-size: 2rem;
  text-shadow:
    2px 2px 0 #57FF98,
    -1px -1px 0 #57FF98,  
    1px -1px 0 #57FF98,
    -1px 1px 0 #57FF98,
    1px 1px 0 #57FF98;
}
.team2Bg{
  background-color: #57FF98;
  margin-right: 100px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
}
.battleteam2{
  font-family: AxiMosi;
  font-size: 2rem;
  text-shadow:
    2px 2px 0 #FF57BE,
    -1px -1px 0 #FF57BE,  
    1px -1px 0 #FF57BE,
    -1px 1px 0 #FF57BE,
    1px 1px 0 #FF57BE;
  
}

.player {
  display: table;
  width: 200px;
  height: 200px;
  margin: 20;
  top: 12rem;
  position: relative;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin-right: 80px;
  margin-left: 10px;
  
}

.battleimg {
      float: left;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      padding: 10px;
      
}

/* .player2 {
  display: table;
  padding: 15px 12px;
  box-sizing: border-box;
  width: 100px; height: 100px;
} */

.battleimg2 {
  float: right;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

li {
  list-style: none;
}

.bgColor {
  overflow: hidden;
  position: relative;
  background-color: #5b7142;
  width: 100vw;
  height: 100vh;
}

.homeBg {
  overflow: hidden;
  height: 92vh;
  justify-content: center;
  display: flex;
  background-color: #11e6df;
}

.cardBg {
  background-color: #11e6df;
  top: -10px;
  height: 92vh;
}

.alley {
  background-image: url(../img/slagBackground1.png);
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: 1000px;
  position: absolute;
  width: 1000px;
  max-width: 1000px;
  height: 560px;
  top: 125px;
  margin: 0px auto;
}

#packBtn {
  font-family: 'Rubik Burned', cursive;
  color: #7c7b74;
  position: absolute;
  right: 105px;
  bottom: -2px;
  padding: 25px;
}

#packBtn:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: #000000;
}

#uBtn {
  font-family: 'Rubik Burned', cursive;
  position: absolute;
  color: #4c5249;
  left: -10px;
  bottom: 185px;
  padding: 0px;
  padding-left: 120px;
  padding-right: 120px;
  rotate: -22deg;
}

#uBtn:hover {
  /* route is not in API */
  cursor: default;
}

#pBtn {
  font-family: 'Rubik Burned', cursive;
  font-size: 20pt;
  color: #464646;
  position: absolute;
  right: 382px;
  bottom: 103px;
  padding: 8px;
  padding-left: 57px;
  padding-right: 57px;
  border-radius: 100%;
}

#pBtn:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: #000000;
}
#pSign {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid black;
  width: 82px;
  height: 170px;
  left: 365px;
  top: 92px;
}

.signLetter {
  padding: 10px 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.signLetter p {
  z-index: -10;
  display: block;
  font-family: Automania;
  margin-top: 19px;
  font-size: 30pt;
  line-height: 10px;
  animation: neon 2s infinite;
}

.signLetter p:hover {
  cursor: default;
}

@keyframes neon {
  0% { text-shadow: 0px 0px 0px rgba(198, 9, 255, 0); color: #000000;}
  50% { text-shadow: 0px 0px 0px rgb(251, 9, 255), 10px 10px 4px #000000; color: #00000000;}
  100% { text-shadow: 0px 0px 0px rgba(198, 9, 255, 0); color: #000000;}
}

.downArrowP {
  position: absolute;
  left: 355px;
  top: 98px;
  animation: neonArrow 2s infinite;
}

.downArrowClip {
	width: 100px;
	height: 160px;
	margin: 0 auto;
	background-color: rgb(0, 0, 0);
  clip-path: polygon(30% 0%, 69% 0, 70% 51%, 89% 53%, 50% 100%, 11% 53%, 30% 51%, 31% 8%, 36% 5%, 36% 54%, 19% 56%, 50% 93%, 81% 56%, 64% 56%, 64% 5%, 30% 5%);
  animation: arrowColor 2s infinite;
}

@keyframes neonArrow {
  0% { filter: drop-shadow(0px 0px 0px rgba(0, 30, 200, 0));}
  50% { filter: drop-shadow(10px 10px 4px #000000);}
  100% { filter: drop-shadow(0.4rem 0.4rem 1rem rgba(0, 30, 200, 0));}
}

@keyframes arrowColor {
  0% { background-color: black;}
  50% { background-color: rgb(251, 9, 255);}
  100% { background-color: black;}
}




