@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
/* font-family: 'Heebo', sans-serif; */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ANIMATION */
.player1 {
  /* width: 100px;
  height: 100px;
  background-color: red; */
  position: relative;
  animation-duration: 2s;
   animation: slide 2s, lean 2s, defeat .75s ;  
}
 
 @keyframes slide {
  0%   { left:0px; top:0px;}
  20%  { left:450px; top:0px;}
}

  @keyframes lean {
    0% { transform: rotateZ(-10deg);}
    5% { transform: rotateZ(-20deg);}
    10% { transform: rotateZ(-30deg);}
    15% { transform: rotateZ(-40deg);}
    20% {  transform: rotateZ(-50deg);}
    21% { transform: rotateZ(-40deg); }
    22% { transform: rotateZ(-30deg); }
    23% { transform: rotateZ(-20deg); }
    24% { transform: rotateZ(-10deg); }
    25% { transform: rotateZ(20deg); }

  }




/* 
/* animation with colors  */
/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  10%  {background-color:yellow; left:200px; top:0px;}
} */
 /* @keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}   */



 /* @keyframes defeat {
  0%  { left:700px; top:0px;
      transform: rotateZ(-108deg);}
  10%  { left:630px; top:0px;
      transform: rotateZ(-216deg);}
  20% { left: 560px; top:0px;
        transform: rotateZ(-324deg);}
  30% { left:490px; top:0px;
    transform: rotateZ(-432deg);}
  40% { left:420px; top:0px;
    transform: rotateZ(-540deg);}
  50% { left:350px; top:0px;
    transform: rotateZ(-648deg);}
  60% { left:280px; top:0px;
    transform: rotateZ(-756deg);}
  70% { left:210px; top:0px;
    transform: rotateZ(-864deg);}
  80% { left:140px; top:0px;
    transform: rotateZ(-972deg);}
  90% { left:70px; top:0px;
    transform: rotateZ(-1080deg);}
  100% { left:0px; top:0px;
    transform: rotateZ(-1188deg);}
}  */

#header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

.aBtn {
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

/* HOME INDEX */

#loginBtn {
  background-color: #777777;
  color: #c0c0c0;
  box-shadow: 2px 5px #444444;
}

#packBtn {
  background-color: #c93e3e;
  color: #F3F9F9;
  box-shadow: 2px 5px #444444;
}

/* ANIMAL INDEX */

.aCard {
  width: 320px;
  height: 446px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ebebeb;
  background-color: #4b2414;
  border-radius: 5px;
  margin: 10px;
}

.aCard img {
  display: block;
  margin: 0px auto;
  width: 95%;
  border-radius: 5px;
  background-color: #919191;
  box-shadow: 3px 1px 6px #291010;
}

.cardName {
  margin-left: 10px;
  color: #ebebeb;
}

.cardHp {
  float: right;
  margin-right: 10px;
}

