@{
    ViewData["Title"] = "Home Page";
}

<h1>Teams</h1>



<ol>
@foreach (Team team in Model)
{
    <ul>
        <li>TeamId: @team.TeamId</li>
        <li>UserId: @team.UserId</li>
        <li>Wins: @team.Wins</li>
        <li>Losses: @team.Losses</li>
    </ul>
    <a href="/Teams/Details/@(team.TeamId)"><p>View Team</p></a>
    <br>
}
</ol>
