@model TeamWeekClient.Models.Team;

@{
  Layout = "_Layout";
}

<h1>Team Info:</h1>
<ul>
  <li>Name: @Model.Name</li>
  <li>UserId: @Model.UserId</li>
  <li>Wins: @Model.Wins</li>
  <li>Losses: @Model.Losses</li>
</ul>
<br>

<a href="/Teams/Edit/@(Model.TeamId)"><p>Edit Team Name</p></a>
<br>
<a href="/Teams"><p>Return</p></a>

<a href="/Teams/Delete/@(Model.TeamId)"><p>Delete Team</p></a>
<a href="/Plays/Index/@(Model.TeamId)"><p>Battle! :O</p></a>