@model TeamWeekClient.Models.Team;
@{
Layout = "_Layout";
}

<h1>Your Team</h1>

<ol>
{
    <ul>
        <li>TeamId: @Model.TeamId</li>
        <li>UserId: @Model.UserId</li>
        <li>Wins: @Model.Wins</li>
        <li>Losses: @Model.Losses</li>
    </ul>
    <a href="/Teams/Details/@(Model.TeamId)"><p>View Team</p></a>
    <br>
}
</ol>
