@model List<TeamWeekClient.Models.Team>;
@{
Layout = "_Layout";
}

<h1>Your Team</h1>

<ol>
@foreach (Team t in Model)
{
    <ul>
        <li>Name: @t.Name</li>
        <li>UserId: @t.UserId</li>
        <li>Wins: @t.Wins</li>
        <li>Losses: @t.Losses</li>
    </ul>
    <a href="/Teams/Details/@(t.TeamId)"><p>View Team</p></a>
    <br>
}
</ol>
