@model List<TeamWeekClient.Models.Team>;
@{
Layout = "_Layout";
}

<h1 class="teamTitle">Your Teams</h1>
<div class="row justify-content-center">

@foreach (Team t in Model)
{
    <div class="tCard">
        <p class="teamName"><a href="/Teams/Details/@(t.TeamId)">@t.Name</a></p>
       
        <p class="kd">K/D: @t.Wins / @t.Losses</p>
    </div>
    <br>
}
</div>
