@{
    ViewData["Title"] = "Home Page";
}

<div class="homeBg">
  <div class="container alley my-4">
    <div class="h-100 d-flex flex-column align-items-center">
      <h1 class="text-center my-2 styledHeader">Seung Lee's Animal Gauntlet!</h1>
      <div class="d-flex">   
        @Html.ActionLink("USER", "Index", "Users", null, new { @class="aBtn homeBtn", @id="uBtn" })
        @Html.ActionLink("PACKS", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="packBtn" })
        @Html.ActionLink("PLAY", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="pBtn" })
        <div class="downArrowP">
          <div class="downArrowClip"></div>
        </div>
        <div id="pSign">
          <div class="signLetter">
            <p>PLAY</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



