@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
  function myPlay() {
  var audio = document.getElementById("audio");
  audio.volume = 0.5;
  audio.play();
  
}
  function myPlay2() {
    var audio = document.getElementById("audio2");
    audio.volume = 0.5;
    audio.play();
  }
</script>

<div class="homeBg">
  <h1 class="text-center styledHeader" style="margin-top: 10px">SLAG</h1>
  <div class="container alley my-4" style="margin: 20px 0">
    <div class="h-100 d-flex flex-column align-items-center">
      <h1 class="text-center my-2 styledHeader"></h1>
      <div class="d-flex">   
        @Html.ActionLink("PACKS", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="packBtn", @onclick="myPlay()"})
        
        @if(AppUser.Token != null)
        {
           @* user button add when route implemented in API *@
          @* @Html.ActionLink("USER", "Index", "Users", null, new { @class="aBtn homeBtn", @id="uBtn" })  *@
          <a class="aBtn homeBtn" id="uBtn" href="">USER</a>
          @Html.ActionLink("TEAMS", "Index", "Teams", null, new { @class="aBtn homeBtn", @id="pBtn", @onclick="myPlay2()" })
        }
        else
        {
          @Html.ActionLink("LOGIN", "Login", "Account", null, new { @class="aBtn homeBtn", @id="pBtn" })
        }
        <div class="downArrowP">
          <div class="downArrowClip"></div>
        </div>
        <div id="pSign">
          <div class="signLetter">
            <p>PLAY</p>
          </div>
          <div>
            <audio id="audio" src="~/audio/battleSound.wav"></audio>
            <audio id="audio2" src="~/audio/bubbles.wav"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




