@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-4">
  <div class="h-100 d-flex flex-column align-items-center">
    <h1 class="text-center my-4">Welcome to our Game!</h1>
  </div>
  <div class="d-flex flex-row justify-content-center my-4">    
    <p id="loginBtn">PLACEHOLDER LOGIN BUTTON</p>
    @Html.ActionLink("View Pack", "Index", "Animals", null, new { @id="packBtn" })
  </div>
</div>



