@{
    ViewData["Title"] = "Home Page";
}
<div class="homeBg">
  <div class="container alley my-4">
    <div class="h-100 d-flex flex-column align-items-center">
      <h1 class="text-center my-4">Welcome to our Game!</h1>
      <div class="">   
        @Html.ActionLink("LOG IN", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="liBtn" })
        @Html.ActionLink("PACKS", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="packBtn" })
        @Html.ActionLink("PLAY", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="pBtn" })
      </div>
    </div>
  </div>
</div>



