@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column align-items-center">
    <h1 class="pageTitle text-center">Battle!</h1>
    <div class="gameScreen">
			<div class="d-flex flex-row justify-content-center">
				<div class="player1"></div>
				<div class="player2"></div>
			</div>
    </div>
</div>